week 10/lab10-2/TempConvtService-Section1/src/conf/xml-resources/web-service-references/HelloWorldWS/wsdl/localhost_8080/HelloWorldWebApplication-Section1/HelloWorldWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://itcs212/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://itcs212/">

<xs:element name="CelsiusToFahrenheit" type="tns:CelsiusToFahrenheit"/>

<xs:element name="CelsiusToFahrenheitResponse" type="tns:CelsiusToFahrenheitResponse"/>

<xs:element name="ConvertercmToInch" type="tns:ConvertercmToInch"/>

<xs:element name="ConvertercmToInchResponse" type="tns:ConvertercmToInchResponse"/>

<xs:element name="getMydetail" type="tns:getMydetail"/>

<xs:element name="getMydetailResponse" type="tns:getMydetailResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="squareMethod" type="tns:squareMethod"/>

<xs:element name="squareMethodResponse" type="tns:squareMethodResponse"/>

<xs:complexType name="ConvertercmToInch">
<xs:sequence>
<xs:element name="cm" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConvertercmToInchResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahrenheit">
<xs:sequence>
<xs:element name="Celsius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahrenheitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMydetail">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMydetailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="squareMethod">
<xs:sequence>
<xs:element name="number" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="squareMethodResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>